*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: linear-gradient(45deg, black, #2c3c4a);
    margin: 5px;
    padding: 10px;
    
}
.box1{
    /* border: 2px solid black;
    height: 50px;
    width: 50px; */

}
.box2{
    /* border: 2px solid black;
    height: 50px;
    width: 50px; */

}
.box3{
    /* border: 2px solid black;
    height: 50px;
    width: 50px; */

}
.box4{
    /* border: 2px solid black;
    height: 50px;
    width: 50px; */

}
.box5{
    /* border: 2px solid black;
    height: 50px;
    width: 50px; */

}
.box6{
    /* border: 2px solid black;
    height: 50px;
    width: 50px; */

}


.heading{
    text-align: center;
    text-shadow: 50px;
    background-color: antiquewhite;
    border: 2px solid black;
}

.image{
    /* border-image-repeat: repeat; */
    border: 2px ;
    width: 320px;
    height: 500px;
}

.video{
    height: 500px;
    width: 100%;
}

.contentt{
    word-spacing: 5px;
    margin-right: 10px;
    padding: 10px;
}

.footer{
    border: 2px;;
    background-color: black;
    height: 100px;
    text-align: center;
    color: white; 
}
.f-content> p{
    padding: 15px;
}

.fa-spotify{
    color: green;
}

.fa-youtube-play{
    color: red;
}
